        /* главная страница */
  .menu img{
             width: 100px;
            height: 80px;
            object-fit: cover; /* создание одинакового размера изображений  */
            border-radius: 8px;
        
        }
        .menu {
            height: 100px;
            width: 100%;
            background-color: rgb(116, 105, 105);
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 0 20px;
        }

        .menu a {
            text-decoration: none; /* Убираем подчёркивание */
            color: white; /* Белый текст для контраста */
        }

        .menu p {
            font-size: 20px;
            margin: 0; /* Убираем стандартные отступы у <p> */
        }

        .cases {
            width: 100%;
            max-width: 1500px;
            min-height: 800px;
            background-color: rgb(255, 255, 255);
            margin-top: 10px;
            padding: 20px;
            box-sizing: border-box;
        }

        .cases h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        /*  карточки кейсов */
        .cases_grid {
            display: flex;
            gap: 30px;
            justify-content: center; /* выравнивание элементов по центру */
            flex-wrap: wrap; /* Чтобы при уменьшении экрана элементы переносились */
        }

        .case_item {
            text-align: center;
            max-width: 250px;
        }

       .case_item img {
            width: 250px;
            height: 180px;
            object-fit: cover; /* создание одинакового размера изображений  */
            border-radius: 8px;
            box-shadow: 0 2px 6px rgb(116, 105, 105); /* цвет обводки картинок */
  
        }

        .case_item p {
            margin-top: 10px;
            font-size: 16px;
            
        }

        /* анимация при наведении на картинки */ 
        .case_item:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 25px gold;
        z-index: 10;
         border-top: 4px solid gold; /* Красная полоса сверху при наведении */
        }
        /* меню о нас */
          .menu1 {
            height: 100px;
            width: 100%;
            background-color: rgb(116, 105, 105);
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 0 20px;
        }
        .menu1 img{
             width: 100px;
            height: 80px;
            object-fit: cover; /* создание одинакового размера изображений  */
            border-radius: 8px;
        
        }

        .menu1 a {
            text-decoration: none; /* Убираем подчёркивание */
            color: white; /* Белый текст для контраста */
        }

        .menu1 p {
            font-size: 20px;
            margin: 0; /* Убираем стандартные отступы у <p> */
        }
            /* стили кейсов */
         .menu_cases {
            height: 100px;
            width: 100%;
            background-color: rgb(116, 105, 105);
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 0 20px;
        }
        .menu_cases img{
             width: 100px;
            height: 80px;
            object-fit: cover; /* создание одинакового размера изображений  */
            border-radius: 8px;
        
        }

        .menu_cases a {
            text-decoration: none; /* Убираем подчёркивание */
            color: white; /* Белый текст для контраста */
        }

        .menu_cases p {
            font-size: 20px;
            margin: 0; /* Убираем стандартные отступы у <p> */
        }

     
        body { font-family: Arial, sans-serif; background: #f5f5f5; padding: 20px; }
        .container { max-width: 800px; margin: 0 auto; background: white; padding: 20px; border-radius: 10px; }
        h1 { color: gold; }
        ul { line-height: 1.6; }

     



        

